.addTo {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 30px;
    right: 50px;
    gap: 10px
}

.addToBasket{
    padding: 10px;
    background-color: #3399ff;
    border-color: transparent;
    border-radius: 8px;
}

.addToBasketText{
    margin: 0;
    color:white;
    font-size: 16px;
}

.addToFavorites{
    border: 0;
    background-color: transparent;
    /*padding: 10px;*/
    /*background-color: #6b6661;*/
    /*border-color: transparent;*/
    /*border-radius: 8px;*/
}

.favButton{
    width: 40px;
    height: 40px;
}