.displayCategoryWindow{
    position: absolute;
    top: 20px;
    left: 20px;
}

.categoryButton{
    padding: 6px;
    background-color: rgba(0, 0, 0, .3);
    border-color: transparent;
    margin: 3px;
    border-radius: 8px;
}

.categoryTextColor{
    font-size: 12px;
    color:white;
    margin: 0;
}